<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.chat.mapper.ChatMessageReadMapper">

    <!-- 获取某个聊天室中所有用户的未读消息数 -->
    <select id="getUnreadMessageCountByRoomId" resultType="map">
        SELECT cmr.user_id, COUNT(*) AS unread_count
        FROM chat_message cm
                 LEFT JOIN chat_message_read cmr
                           ON cmr.room_id = #{roomId}
        WHERE cm.room_id = #{roomId}
          AND cm.create_time > cmr.last_read_time
          AND cmr.is_deleted = 0
        GROUP BY cmr.user_id
    </select>

    <!-- 获取用户在某个聊天室的最新未读消息ID -->
    <select id="getLatestUnreadMessageId" resultType="long">
        SELECT MAX(cm.id)
        FROM chat_message cm
                 LEFT JOIN chat_message_read cmr
                           ON cmr.room_id = #{roomId} AND cmr.user_id = #{userId}
        WHERE cm.room_id = #{roomId}
          AND cm.create_time > cmr.last_read_time
          AND cm.is_deleted = 0
    </select>


    <select id="countUnreadMessages" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM chat_message m
                 LEFT JOIN chat_message_read r
                           ON m.room_id = r.room_id AND r.user_id = #{userId}
        WHERE m.room_id = #{roomId}
          AND m.sender_id != #{userId} -- 不统计自己发的
          AND m.create_time > IFNULL(r.last_read_time, '1970-01-01');

    </select>


    <select id="countUnreadMessagesBatch" resultType="com.ly.model.dto.chat.UnreadCountDTO">
        SELECT
        m.room_id,
        COUNT(*) AS unread_count
        FROM
        chat_message m
        LEFT JOIN
        chat_message_read r
        ON m.room_id = r.room_id AND r.user_id = #{userId}
        WHERE
        m.room_id IN
        <foreach collection="roomIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        AND m.create_time > IFNULL(r.last_read_time, '1970-01-01 00:00:00')
        GROUP BY
        m.room_id
    </select>


    <select id="countTotalUnreadMessages" resultType="java.lang.Long">
        SELECT COUNT(*) FROM chat_message m
                                 LEFT JOIN chat_message_read r ON m.room_id = r.room_id AND r.user_id = #{userId}
        WHERE m.create_time > IFNULL(r.last_read_time, '1970-01-01')
          AND m.room_id IN (
            SELECT room_id FROM chat_room_user WHERE user_id = #{userId}
        )
          AND m.is_deleted = 0
    </select>
</mapper>