<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.chat.mapper.ChatMessageMapper">
    <sql id="Base_Column_List">
        m.id,
        m.room_id,   <!-- 显式指定表别名 -->
        m.sender_id,
        m.content,
        m.message_type,
        m.recalled,
        m.timestamp,
        m.chat_type,
        m.receiver_id,
        m.create_time,
        m.update_time,
        m.is_deleted
    </sql>

    <select id="getHistoryMessages" resultType="com.ly.model.vo.chat.ChatMessageVo">
        SELECT id,
               sender_id AS senderId,
               receiver_id AS receiverId,
               content,
               message_type AS messageType,
               chat_type AS chatType,
            timestamp,
            create_time
        FROM chat_message
        WHERE room_id = #{roomId}
          AND is_deleted = 0
          AND recalled = 0
        ORDER BY create_time DESC
            LIMIT #{offset}, #{size}
    </select>
    <select id="getHistoryMessagesCount" resultType="java.lang.Long">
        SELECT count(1)
        FROM chat_message
        WHERE room_id = #{roomId}
          AND is_deleted = 0
          AND recalled = 0
        ORDER BY create_time DESC
    </select>
    <select id="getLatestMessage" resultType="com.ly.model.entity.chat.ChatMessage">
        SELECT
            <include refid="Base_Column_List" />
        FROM chat_message m
        WHERE room_id = #{roomId}
          AND is_deleted = 0
        ORDER BY create_time DESC
            LIMIT 1;
    </select>
    <select id="getLatestMessagesByRoomIds" resultType="com.ly.model.entity.chat.ChatMessage">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            chat_message m
        JOIN (
            SELECT
                room_id, MAX(create_time) AS max_time
            FROM
                chat_message
            WHERE
                room_id IN
                    <foreach collection="roomIds" item="id" separator="," open="(" close=")">
                        #{id}
                    </foreach>
            GROUP BY
                room_id
        ) latest
        ON
            m.room_id = latest.room_id
            AND m.create_time = latest.max_time
    </select>

</mapper>